/* 
    Document   : carruselImagenes
    Created on : 29/09/2013, 06:58:32 PM
    Author     : miguel
    Description:
        elcss para los carruseles de las imagense de un clasificado
*/
           
          .image_carousel {
                    padding: 15px 0 15px 40px;
                    position: relative;
            }
            .image_carousel img {
                    border: 1px solid #ccc;
                    background-color: white;
                    padding: 9px;
                    margin: 7px;
                    display: block;
                    float: left;
            }
            a.prev, a.next {
                    background: url(/Clasificados/estaticos/img/miscellaneous_sprite.png) no-repeat transparent;
                    width: 45px;
                    height: 50px;
                    display: block !important; 
                    position: absolute !important;
                    top: 85px;
            }
            a.prev {		z-index:30; 	left: 10px;
                                                    background-position: 0 0; }
            a.prev:hover {		background-position: 0 -50px; }
            a.prev.disabled {	background-position: 0 -100px !important;  }
            a.next {right: 10px;z-index:30;
                                                    background-position: -50px 0; }
            a.next:hover {		background-position: -50px -50px; }
            a.next.disabled {	background-position: -50px -100px !important;  }
            a.prev.disabled, a.next.disabled {
                    cursor: default;
            }

            a.prev span, a.next span {
                    display: none;
            }
            .pagination {
                    text-align: center;
            }
            .pagination a {
                    background: url(/Clasificados/estaticos/img/miscellaneous_sprite.png) 0 -300px no-repeat transparent;
                    width: 15px;
                    height: 15px;
                    margin: 0 5px 0 0;
                    display: inline-block !important;
            }
            .pagination a.selected {
                    background-position: -25px -300px;
                    cursor: default;
            }
            .pagination a span {
                    display: none;
            }
            .clearfix {
                    float: none;
                    clear: both;
            }
