* {margin: 0; padding: 0; outline: 0;}


body {
	font-family: Helvetica, Arial, Verdana, sans-serif;
	color: #999;
	font-size: 12px;
	background:#bfbfbf;

	
}


h1, h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	margin:0 0 15px 0;
}


h1 {
	font-size: 36px;
	letter-spacing: -2px;
	line-height: 100%;
}

h1.title {
	font-size: 46px;
	font-weight: 700;
	color: #6a6a6a;


}


h2 {
	font-size: 24px;
}

p {
	margin: 0 0 15px 0;
}

#bPrincipal{
	display: inline-block;
}
#logo{
	background: url('../img/logo.png');
	background-size: cover;
	display: inline-block;
	height: 110px;
	width:120px;
}
.av{
	background: white;
	margin: 10px 20px;
	padding:10px 20px;
	width: 60%;
	height: 40%;
}
.avisos{
	margin:0 auto;
	text-align: center;
	width:80%;
}
.menuBtn {

	background: center center no-repeat transparent;
	background: #000;
	display: block;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 0;
	left: 10px;

}

.clear {
	clear: both;
}
.centrado{
	text-align: center;
}
.wrap {
		/*background:url(../images/bg.png) top left repeat-x;*/
		width: 100%;
		max-width: 1140px;
		min-width: 960px;
		z-index: 10;
		position: relative;
		margin: 0 auto;
		padding: 0;

}



.section {
	width: 100%;
	max-width: 1140px;
	min-width: 960px;
	z-index: 10;
	position: relative;
	margin: 0 auto;
	padding: 20px 0 20px 0;
}


.inner {
	width: 960px;
	margin: 0 auto;
	position: relative;
	min-height: 50px;
	padding:10px 0;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	text-align: center;
}


/* This is the selector i used for my menu, it needs to be set as position:absolute; */
.subMenu {
	position: absolute;
	top: 462px;
	height: 50px;
	z-index: 1000;
	width: 100%;
	max-width: 1140px;
	min-width: 960px;
	background: rgb(92,185,0);

}

.subMenu .inner {
	padding:0;
	font-weight: 400;
}





.subNavBtn {
	display: block;
	height: 35px;
	width: 12%;
	float: left;
	margin: 0px 0px 0 0;
	text-decoration: none;
	font-size: 14px;
	padding: 15px 2% 0 2%;
	text-align: center;
	color: #fff;
}

.end {
	margin: 0;
}


/* SECTIONS */
.sTop {
	min-height: 510px;
	background:#e5e5e5;
	color:#3d3d3d;
	
}

.publicar {
	min-height: 130px;
	background:#e5e5e5;
	color:#3d3d3d;
	
}



.s1 {
	min-height: 500px;
	background: #fa9915;
	color:white;
}


.s2 {
	min-height: 500px;
	background: #e8543f;
	color:white;
}


.s3 {
	min-height: 500px;
	background: #00b5e5;
	color: white;
}


.s4 {
	min-height: 500px;
	background: #99389f;
	color: white;
}

.s5 {
	min-height: 500px;
	background: rgb(205,203,1);
	color: white;
}



/*++++++++++  Adicion de miguel  +++++++++++*/

.adv{
	/*float: left;*/
	width: 250px;
	height: 300px;		
	color: black;
	margin: 1%;
	display: inline-block;
	vertical-align: top;
	margin: 10px 5px 0 5px;

	

}

.adv .fecha{
	float: right;	
	margin: 5px;
	width: 100%;
	text-align: right;
}

.adv h3{

	text-decoration: none;
}


.adv a{
	text-decoration: none; 
	color: inherit;
	outline: none;
	display: block;
	position: relative;
}

.link{

	width: 100%;
	height: 100%;
	cursor: hand;
	background: white;
	padding-bottom: 40px;

}


#logo_publicar{
        float: left;
	background: url('../img/logo.png');
	background-size: cover;
	display: inline-block;
	height: 110px;
	width:120px;    
}


/*************** perfil de usuario +****************/

.subMenu2 {
	/*position: absolute;*/
	height: 50px;
	width: 100%;
	max-width: 1140px;
	min-width: 960px;
	background: rgb(92,185,0);

}


.subMenu2 .inner {
	padding:0;
	font-weight: 400;
	float: right;
}


.nombre_usuario{
	color: blue;
	font-weight: bold;

}
 .mensaje_usuario{

 	color: yellow;

 }
 
 
 .login{
     
     float: right;
     text-align: right;          
     position: relative;
     z-index: 1000;
     margin: 5px;
     font-weight: bold;
     font-size: 18px;
 }
 
 .foto_user{
     width: 30px;
     height: 30px;
 }