<div class="adv">
    <a href="" data-largesrc="{IMG_ADV}/{img}" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
        <div class="link">
            <div class="fecha"><p>{fecha}</p></div>
            <h3>{titulo_adv}</h3>
            <img class="av" src="{IMG_ADV}/{img}" width="200" height="200">
            <div class="descripcion"><p>{descripcion}</p></div>
        </div>
    </a>
</div>