{login}
<div class="subMenu" >
    <div class="inner">
        <a href="#" id="sTop" class="subNavBtn">Inicio</a> 
        <a href="#" id="s1" class="subNavBtn">Inmuebles</a>
        <a href="#" id="s2" class="subNavBtn">Autos/motos</a>
        <a href="#" id="s3" class="subNavBtn">Empleo</a>
        <a href="#" id="s4" class="subNavBtn">Servicios</a>
        <a href="#" id="s5" class="subNavBtn end">Varios</a>
    </div>				
</div>
<div class="section sTop">
    <div class="inner">
        <div id="logo"></div>
        <h1>Bienvenido a tu Adv </h1>
        <p>Te invitamos a ingresar a la comunida mas importante de Anuncios en los Llanos Orientales!</p>
        <span class="button-wrap" id="bPrincipal"><a href="publicar.php" class="button button-circle button-flat button-flat-action glow">Clasificados</a></span>        
        
        <form action = "resultado.php" method="POST" enctype="multipart/form-data">	                
            <input type="text" id="buscar" name="buscar" /><br><br>
            <select>
                <option value ="sydney">Autos</option>
                <option value ="melbourne">Inmuebles</option>
                <option value ="cromwell" selected>Empleo</option>
                <option value ="queenstown">Todos</option>
            </select>            
            <input type="submit" value="Buscar" name="enviar">             
        </form>            
    </div>

    <br class="clear">
</div>