<div class="subMenu2" >
        <div class="inner">
                <a href="index.php" id="sTop" class="subNavBtn">Inicio</a> 
                <a href="#" id="s1" class="subNavBtn">Inmuebles</a>
                <a href="#" id="s2" class="subNavBtn">Autos/motos</a>
                <a href="#" id="s3" class="subNavBtn">Empleo</a>
                <a href="#" id="s4" class="subNavBtn">Servicios</a>
                <a href="#" id="s5" class="subNavBtn end">Varios</a>
        </div>				
</div>
<div class="section publicar">
    <div class="inner">
        <div id="logo_publicar"></div>
        <h1 class="nombre_usuario">{nombre_usuario}</h1>                
        <h2 class="mensaje_usuario">Estos son tus ADV's publicados</h2>			        
    </div>	    
    <br class="clear">
</div>