


<div style="margin-left: 50px; width : 400px;">
	<form action = "publicar.php" method="POST" enctype="multipart/form-data">
	    
	    <label for="id_seccion">Tipo de articulo </label>
	    <input type="text" id="id_seccion" name="id_seccion" /><br><br>


	    <label for="titulo">Titulo </label>
	    <input type="text" id="titulo" name="titulo" autofocus /><br><br>

	    <label for="descrip_1">Descripcion </label>
	    <input type="text" id="descrip_1" name="descrip_1" placeholder =" Descripcion corta "/><br><br>    

	    <label for="descrip_det">Descripcion detallada</label>
	    <input type="text" id="descrip_det" name="descrip_det" placeholder =" Descripcion Detallada "/> <br><br>   	
	    
	    <label for="lugar">Ciudad Ubicacion</label>
	    <input type="text" id="lugar" name="lugar"/><br>   <br> 

	    <label for="valor">valor/costo</label>
	    <input type="text" id="valor" name="valor"/><br>  <br>  

	    <label for="tiempo_duracion">tiempo_duracion</label>
	    <input type="date" id="tiempo_duracion" name="tiempo_duracion"/> <br>    <br> 
            
            <label>Busca y sube tu imagen</label>
            <input type="file" name="archivo"  size="35" />            

	     <input type="submit" value="publicar" name="enviar">
             





            </form>             
	
</div >






